* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #2C4B30;
    position: relative;
}

.navbar {
    width: 100%;
    height: 10vh;
    display: flex;
    position: relative;
}

.logo img {
    margin-top: 1vh;
    height: 10vh;
}

.logo h2 {
    margin-top: 3vh;
    font-size: xx-large;
    color: white;
}

.logo {
    display: flex;
    /* background-color: yellow; */
    width: 30%;
}

.links {
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.links a {
    /* background-color: aqua; */
    margin-top: 4vh;
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
    height: 30%;
}

.links a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    background-color: #DDA410;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.links a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}