* {
    margin: 0;
    left: 0%;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5ebca;
    background-size: 100%;
    background-position: center;
    justify-content: center;
    align-content: center;
    overflow-x: hidden;
}

header::before {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 50%;
    width: 60em;
    height: 100em;
    background: #2C4B30;
    border-radius: 50%;
    transform-origin: bottom;
    margin-bottom: 200px;
    transform: translateX(-50%) scale(4);
}

.card {
    padding-top: 3vh;
    max-width: 1800px;
    margin-top: 7em;
    margin-left: 2em;
    align-content: center;
    height: 450px;
    /* border: 1px solid rgba(18, 2, 64, 0.18); */
    border-radius: 20px;
    background-color: #ffffff;
    /* box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.60); */
    box-shadow: 4px 5px 10px 5px #7a7a7a;
    backdrop-filter: blur(2px);
}

.subdomain_card {
    /* position: relative; */
    padding-top: 10px;
    max-width: 400px;
    /* margin-top: 50px;  */
    width: 33.33%;
    margin-left: 100px;
    text-align: center;
    font-weight: bold;
    align-content: center;
    height: 100px;
    border: 3px solid #DDA410;
    border-radius: 20px;
    /* border-bottom: 50svh; */
    background-color: #ffffff;
    box-shadow: 0px 15px 10px -15px #111;
    /* box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.60); */
    backdrop-filter: blur(2px);
}

.endpoints_card {
    /* position: relative; */
    padding-top: 10px;
    max-width: 400px;
    font-weight: bold;
    margin-top: -6em;
    width: 33.33%;
    /* margin-top: 50px;  */
    margin-left: 700px;
    text-align: center;
    align-content: center;
    height: 100px;
    border: 3px solid #DDA410;
    border-radius: 20px;
    /* border-bottom: 50svh; */
    background-color: #ffffff;
    box-shadow: 0px 15px 10px -15px #111;
    /* box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.60); */
    backdrop-filter: blur(2px);
}

.sensitive_card {
    /* position: relative; */
    padding-top: 10px;
    max-width: 400px;
    /* margin-top: 50px;  */
    margin-top: -6em;
    font-weight: bold;
    width: 33.33%;
    margin-left: 1300px;
    text-align: center;
    align-content: center;
    height: 100px;
    border: 3px solid #DDA410;
    border-radius: 20px;
    box-sizing: border-box;
    /* border-bottom: 50svh; */
    background-color: #ffffff;
    box-shadow: 0px 15px 10px -15px #111;
    /* box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.60); */
    backdrop-filter: blur(2px);
}

.col1 {
    width: 33.33%;
    height: 200px;
    margin-top: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    display: grid;
    float: left;
    text-align: center;
    box-sizing: border-box;
    padding: 0px 50px;
    overflow-y: scroll;
    overflow-x: scroll;
}

.col1::-webkit-scrollbar {
    height: 0px;
    width: 10px;
    display: none;
    /* background-color: red; */
}

.col1::-webkit-scrollbar-track {
    background: black;
    border-radius: 15px;
}

.col1::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15px;
}

.col2 {
    width: 33.33%;
    height: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-top: 3em;
    display: grid;
    float: left;
    text-align: center;
    box-sizing: border-box;
    padding: 0px 50px;
    overflow-y: scroll;
    overflow-x: scroll;
}

.col2::-webkit-scrollbar {
    height: 0px;
    width: 10px;
    display: none;
    /* background-color: red; */
}

.col2::-webkit-scrollbar-track {
    background: black;
    border-radius: 15px;
}

.col2::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15px;
}

.col3 {
    width: 33.33%;
    height: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-top: 3em;
    float: left;
    text-align: center;
    box-sizing: border-box;
    padding: 0px 50px;
}

.news {
    margin-top: 0.5em;
    text-align: left;
    height: 90%;
    /* width: 80%; */
    /* background-color: blue; */
    overflow: scroll;
    display: grid;
    justify-content: justify;
    /* overflow-x: hidden; */
}

.news hr {
    width: 85%;
}

.news ul {
    padding: 0;
}

.news li {
    font-family: 'Poppins', sans-serif;
    word-wrap: break-word;
    /* background-color: yellow; */
    padding: 0%;
    margin: 0%;
    width: 100%;
    padding-left: 1vw;
    padding-right: 5vw;
    list-style-type: none;
    color: black;
    text-align: center;
}

.news li a {
    text-decoration: none;
}

.news::-webkit-scrollbar {
    height: 0px;
    width: 10px;
    display: none;
    /* background-color: red; */
}

.news::-webkit-scrollbar-track {
    background: black;
    border-radius: 15px;
}

.news::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15px;
}

.divider1 {
    position: absolute;
    margin-left: 620px;
    width: 3px;
    margin-top: 3em;
    height: 200px;
    background-color: #DDA410;
    display: inline-block;
    border-radius: 50%;
}

.divider2 {
    position: absolute;
    margin-top: 3em;
    margin-left: 1210px;
    /* margin-top: -10em; */
    width: 3px;
    height: 200px;
    background-color: #DDA410;
    display: inline-block;
    border-radius: 50%;
}

li {
    list-style: none;
    display: inline;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 8em;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.navbar .logo a {
    color: white;
    font-size: 30px;
    font-weight: bold;
    z-index: 3;
    margin-left: -5em;
    margin-right: 5em;
    position: relative;
}

.navbar .links {
    margin-left: 29%;
}

.links a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
}

.links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #DDA410;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.links a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 7em;
    align-items: center;
}

.search_box_wrapper .search_box_item {
    position: relative;
    height: 50px;
    margin-bottom: 50px;
    width: 500px;
    max-width: 100%;
}

.search_box_wrapper .search_box_item .search_box {
    height: 50px;
}

.search_box_wrapper .search_box_item .search {
    background: #fff;
    border: 0;
    border-radius: 25px;
    font-size: 1.2em;
    color: #6D8F72;
    width: 100%;
    height: 100%;
}

.icon {
    position: absolute;
    margin-top: -1.4em;
    margin-left: 0.5em;
    color: #2C4B30;
    font-size: 28px;
    display: flex;
    width: 30px;
}

.search_box_wrapper .search_box_item button {
    width: 150px;
    height: 50px;
    position: absolute;
    top: 0;
    border-radius: 25px;
    border: 0;
    display: block;
    font-size: 1.3em;
    color: #fff;
    background: #6D8F72;
    cursor: pointer;
    transition: all 0.5s ease;
}

.search_box_wrapper .search_box_item button:hover {
    background: #DDA410;
}

.search_box_wrapper .search_box_item {
    display: flex;
}

.search_box_wrapper .search_box_item .search_box {
    width: calc(100%-150px);
    margin-right: 15px;
}

.search_box_wrapper .search_box_item .search {
    padding: 15px 20px;
    padding-left: 55px;
}

.search_box_wrapper .search_box_item button {
    position: relative;
}

.search_box_wrapper .search_box_item .icon {
    left: 20px;
}