<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact.css') }}" />
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  
    <title>Contact Us</title>
</head>
 
<body>
   <section>
        <div>
            <h1>Our Team</h1>
        </div>
        <div class="row">

            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="{{url_for('static', filename='images/akshi.png')}}" />
                    </div>
                    <h3>Akshita Kapoor</h3>
                    <p>500088130</p>
                    <div class="icons">
                        <a href="mailto:kapoorakshita441@gmail.com">
                            <ion-icon name="mail-open"></ion-icon>
                        </a>
                        <a href="https://www.linkedin.com/in/kapoor-akshita">
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </a>
                        <a href="https://github.com/akshitakapoor">
                            <ion-icon name="logo-github"></ion-icon>
                        </a>

                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="{{url_for('static', filename='images/sam.jpg')}}" />
                    </div>
                    <h3>Samyukta Sahoo</h3>
                    <p>500087340</p>
                    <div class="icons">
                        <a href="mailto:sahoosamyukta@gmail.com">
                            <ion-icon name="mail-open"></ion-icon>
                        </a>
                        <a href="https://www.linkedin.com/in/samyukta-sahoo-277353211/">
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </a>
                        <a href="https://github.com/Samyukta1909/">
                            <ion-icon name="logo-github"></ion-icon>
                        </a>

                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="{{url_for('static', filename='images/ishi.jpg')}}" />
                    </div>
                    <h3>Ishita Nanda</h3>
                    <p>500086361</p>
                    <div class="icons">
                        <a href="mailto:nandaishita2711@gmail.com">
                            <ion-icon name="mail-open"></ion-icon>
                        </a>
                        <a href="https://www.linkedin.com/in/ishita-nanda/">
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </a>
                        <a href="https://github.com/IshitaNanda">
                            <ion-icon name="logo-github"></ion-icon>
                        </a>

                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="{{url_for('static', filename='images/ashhar.jpg')}}" />
                    </div>
                    <h3>Ashhar Ali</h3>
                    <p>500085020</p>
                    <div class="icons">
                        <a href="mailto:aliashhar3@gmail.com">
                            <ion-icon name="mail-open"></ion-icon>
                        </a>
                        <a href="https://www.linkedin.com/in/ashharali/">
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </a>
                        <a href="https://github.com/nerdynerd09/">
                            <ion-icon name="logo-github"></ion-icon>
                        </a>

                    </div>
                </div>
            </div>

        </div>   
    </section>
</body>
 
</html>