<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eagle's Eye</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="./../static/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap" rel="stylesheet">
</head>

<body>
    <div class="nav">
        <div class="left-nav-content">Eagle's Eye</div>
        <div class="right-nav-content">
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Contact</li>
            </ul>
        </div>
    </div>

    <center>
        <form class="searchurl" action="/" method="post">
            <!-- <form class="searchurl" action="url"> -->
            <input type="text" placeholder="Search URL" class="searchtext" name="urlvalue" required>
            <button class="search-button" id="search-button">Search</button>
        </form>
    </center>

    <div class="row-container">
        <div class="row-div">
            Subdomains
            <div class="subdomain-urls">

                <ul>
                    {%for i in (subdomain)%}
                    <li>{{i}}</li>
                    <hr> {%endfor%}
                </ul>
            </div>
        </div>
        <div class="row-div">Div2</div>
        <div class="row-div">Div3</div>
    </div>


    <div class="row-container">
        <div class="row-div" id="div4">
            <div class="row-div-col" id="row-div-col1">
                Endpoints
                <div class="endpoint-urls">
                    <ul>
                        {%for i in (endpoint)%}
                        <li>{{i}}</li>
                        <hr> {%endfor%}
                    </ul>
                </div>
            </div>
            <div class="row-div-col" id="row-div-col2">
                Sensitive URLs
                <div class="sensitive-urls">

                    <ul>
                        {%for i in (hiddenFiles)%}
                        <li>{{i}}</li>
                        <hr> {%endfor%}

                        <!-- <script>
                            //for (let i = 0; i < 20; i++) {
                            for (let i = 0; i < 20; i++) {
                                let list = document.createElement('li');
                                // list.innerText = "Url  " + i;
                                list.innerText = "Lorem Ipsum is simply dummy text of the printing and typesetting  " + i;
                                document.querySelector('.sensitive-urls').appendChild(list);
                                document.querySelector('.sensitive-urls').appendChild(document.createElement('hr'));
                            }
                        </script> -->

                    </ul>
                </div>

            </div>
            <div class="row-div-col" id="row-div-col3">div-col3</div>
        </div>
        <div class="row-div" id="div5">Div5</div>
        <div class="row-div" id="div6">Div6</div>
    </div>

    <br>
</body>

</html>