<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style2.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style3.css') }}" />
    <link rel="stylesheet" href="../static/css/style.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>

<body>


    <div class="semi-circle"></div>
    <header>
        <div class="navbar">
            <div class="logo">
                <a href="#">Eagle Eye</a>
            </div>
            <ul class="links">
                <li><a class="active" href="#">Home</a></li>
                <li><a href="About">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>

        </div>

        <form method="post" action="/">
            <div class="wrapper">
                <div class="search_box_wrapper">

                    <div class="search_box_item">
                        <div class="search_box">
                            <input type="text" name="urlvalue" class="search" placeholder="Search URL">
                            <span class="icon">
                               <ion-icon name="search-outline"></ion-icon>
                           </span>
                        </div>
                        <button>Search</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="card_container">
            <div class="card">

                <div class="header_card_container">
                    <!-- <div class="subdomain_card">
                        Subdomains
                    </div> -->

                    <div class="card1">
                        <button type="submit" class="btnsubdomain_card" onclick="openPopup1()">
                        <h1>Subdomain</h1>
                        </button>
                        <div class="popupsubdomain" id="popupsubdomain">
                            <div class="subdomain-urls">
                                <ul class="subdomain-urls-ul">
                                    <!-- {%for i in (endpoint)%}
                                    <li>{{i}}</li>
                                    <hr> {%endfor%} -->

                                </ul>
                            </div>
                            <button type="button" onclick="closePopup1()">Ok</button>
                        </div>
                    </div>

                    <script>
                        let popup = document.getElementById("popupsubdomain");

                        function openPopup1() {
                            popup.classList.add("open-popup1");
                        }

                        function closePopup1() {
                            popup.classList.remove("open-popup1");
                        }
                    </script>

                    <div class="card2">
                        <button type="submit" class="btnendpoints_card" onclick="openPopup()">
                             <h1>Endpoints</h1>
                        </button>

                        <div class="popupendpoints" id="popupendpoints">
                            <div class="endpoint-urls">
                                <ul class="endpoint-urls-ul">
                                    <!-- {%for i in (endpoint)%}
                                    <li>{{i}}</li>
                                    <hr> {%endfor%} -->
                                </ul>
                            </div>
                            <button type="button" onclick="closePopup()">Ok</button>
                        </div>
                    </div>

                    <script>
                        let popup2 = document.getElementById("popupendpoints");

                        function openPopup() {
                            popup2.classList.add("open-popup2");
                        }

                        function closePopup() {
                            popup2.classList.remove("open-popup2");
                        }
                    </script>


                    <!-- <div class="endpoints_card">
                        Endpoints
                    </div> -->

                    <div class="card3">
                        <button type="submit" class="btnsensitive" onclick="openPopup3()">
                        <h1>Sensitive files</h1>
                        </button>
                        <div class="popupsensitive" id="popupsensitive">
                            <div class="sensitive-urls">
                                <ul class="sensitive-urls-ul">
                                    <!-- {%for i in (endpoint)%}
                                    <li>{{i}}</li>
                                    <hr> {%endfor%} -->
                                </ul>
                            </div>
                            <button type="button" onclick="closePopup3()">Ok</button>
                        </div>
                    </div>

                    <script>
                        let popup3 = document.getElementById("popupsensitive");

                        function openPopup3() {
                            popup3.classList.add("open-popup3");
                        }

                        function closePopup3() {
                            popup3.classList.remove("open-popup3");
                        }
                    </script>



                    <!-- <div class="sensitive_card">
                        Sensitive files
                    </div> -->

                </div>

                <div class="card_container_body">
                    <div class="col1">
                        <h3> Whois</h3>
                        <div class="domain-urls">

                            <ul>
                                {%for i in (WHOis)%}
                                <li>{{i}}</li>
                                <hr> {%endfor%}
                            </ul>
                        </div>
                    </div>

                    <span class="divider1"></span>

                    <div class="col2">
                        <h3>Records </h3>
                        <div class="record-urls">

                            <ul>
                                A Records:
                                <hr> {%for i in (record)%}
                                <li>{{i}}</li>
                                {%endfor%}
                                <br> CNAME Records:
                                <hr> {%for i in (name)%}
                                <li>{{i}}</li>
                                {%endfor%}

                            </ul>
                        </div>
                    </div>

                    <span class="divider2"></span>

                    <div class="col3">
                        <h3>News</h3>
                        <div class="news">
                            <ul class="news-ul">
                                <!-- {%for i in (Headlines)%}
                                <li><a href="{{i[1]}}" target="_blank">{{i[0]}} </a></li>
                                <hr> {%endfor%} -->
                            </ul>
                        </div>
                    </div>

                </div>



            </div>
        </div>
    </header>


    <script>
        socket = io();
        socket.connect('http://127.0.0.1:5000/');

        socket.on('connect', function() {
            socket.send('Established')
        })

        socket.on('sensitiveUrls', function(data) {
            console.log("Sensitive Urls recieved")
            console.log(data['urls'])
            renderSensitiveUrls(data['urls'])
                // console.log(data['packets'])
        })

        const innerHtmlUl = document.querySelector(".sensitive-urls-ul");

        function renderSensitiveUrls(urls) {
            //innerHtmlUl.innerHTML = "";
            //console.log(urls)
            innerHtmlUl.innerHTML += `<li>${urls}</li><hr>`;

            //urls.forEach(url => {
            //    innerHtmlUl.innerHTML += `<li>${url}</li><hr>`
            //});

        }

        socket.on('endpointUrls', function(data) {
            console.log("Endpoint Urls recieved")
                // console.log(data['urls'])
            renderendpointUrls(data['urls'])
                // console.log(data['packets'])
        })

        const innerHtmlUl2 = document.querySelector(".endpoint-urls-ul");

        //innerHtmlUl2.innerHTML = "";
        function renderendpointUrls(urls) {

            innerHtmlUl2.innerHTML += `<li>${urls}</li><hr>`


        }

        socket.on('subdomainUrls', function(data) {
            console.log("Urls recieved")
                // console.log(data['urls'])
            rendersubdomainUrls(data['urls'])
                // console.log(data['packets'])
        })
        const innerHtmlUl3 = document.querySelector(".subdomain-urls-ul");
        //innerHtmlUl3.innerHTML = "";

        function rendersubdomainUrls(urls) {

            innerHtmlUl3.innerHTML += `<li>${urls}</li><hr>`
                //urls.forEach(url => {
                //    innerHtmlUl3.innerHTML += `<li>${url}</li><hr>`
                //});

        }

        socket.on('news', function(data) {
            // console.log("News loaded");
            renderUrls(data['news'])
                // console.log(data['packets'])
        })

        const newsInnerHtmlUl = document.querySelector(".news-ul");

        function renderUrls(newsList) {
            //innerHtmlUl.innerHTML = "";
            newsList.forEach(news => {
                newsInnerHtmlUl.innerHTML += `<li><a href='${news[1]}' target=_blank>${news[0]}</a></li><hr>`
            });

        }
    </script>

</body>

</html>